@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(reset.css);

body {
    background-color: #DDD;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: #333;
}

h1 {
    font-size: 350%;
    font-weight: 300;
    text-align: center;
    color: #777;
    margin-bottom: 40px;
}

.buttons {
    float: left;
    width: 25%;
}
#main .buttons {
    width: 50%;
}
.mainButtons {
    width: 25%;
    float: left;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked {
    background-color: #d0d0d0;
}

h3 {
    font-size: 135%;
    font-weight: 400;
    margin-bottom: 5px;
}

a {
    color: #303E5E;
}

.url {
    color: #152343;
    font-size: 110%;
}

.content {
    margin-top: 10px;
    margin-right: 30%;
}

#results {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.result {
    margin-bottom: 20px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100%;
    width: 70%;
    background-color: #FCFCFC;
    max-height: 100%;
    overflow: hidden;
}

button#search {
    width: 83px;
    height: 36px;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

#searchbox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#suggestions {
    margin-bottom: 5px;
    font-weight: bold;
}

input#query {
    font-size: 150%;
    width: 65%;
}

.results {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border: 5px solid black;
}

em {
    font-weight: 700;
}

